<div class="page">
<header class="page-header">

    <div class="header-content">

      <div>
        <span class="breadcrumb">ALBERGUES / MORADORES</span>

        <h1>Moradores do Albergue</h1>

        <p>
          Informações e gerenciamento dos moradores
        </p>
      </div>

    </div>

  </header>

<div class="container">
  <div *ngFor="let morador of moradores" class="morador-item">
    
    <div class="morador-info">
      {{ morador.nome }}  {{ morador.cpf }}  {{ morador.id }}
    </div>
    <div class="morador-actions">

      <button 
  (click)="detalhesMorador(morador.id)" 
  class="btn-detalhes"
>
  Detalhes
</button>


    </div>
  </div>
</div>
</div>